
body{
    background-image: url("wall-751342_1920.jpg");

}
.myself{
    text-align: center;
    height: 20rem;
    padding-top: 18%;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}